.vertcard-wrapper {
  display: flex;
  margin-top: 3px;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: center;
  text-align: center;
}
.vertcard-card {
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}
@media screen and (max-width: 359px) {
  .vertcard-card {
    height: 130px;
    width: 95px;
  }
}
@media screen and (min-width: 360px) {
  .vertcard-card {
    height: 140px;
    width: 110px;
  }
}
@media screen and (min-width: 380px) {
  .vertcard-card {
    height: 150px;
    width: 115px;
  }
}
@media screen and (min-width: 420px) {
  .vertcard-card {
    height: 155px;
    width: 125px;
  }
}
@media screen and (min-width: 440px) {
  .vertcard-card {
    height: 155px;
    width: 125px;
  }
}
@media screen and (min-width: 475px) {
  .vertcard-card {
    height: 185px;
    width: 145px;
  }
}
@media screen and (min-width: 700px) {
  .vertcard-card {
    height: 250px;
    width: 160px;
  }
}
@media screen and (min-width: 800px) {
  .vertcard-card {
    height: 250px;
    width: 180px;
  }
}
.epnumber {
  color: white;
  font-weight: lighter;
  margin-top: 5px;
  font-size: 1.35rem;
}
.vertcard-title {
  font-size: 1.5rem;
  color: white;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .epnumber {
    font-size: 1.15rem;
  }
  .vertcard-title {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 830px) {
  .vertcard-card {
    height: 250px;
    width: 180px;
  }
}
@media screen and (min-width: 1010px) {
  .vertcard-card {
    height: 250px;
    width: 180px;
  }
}
@media screen and (min-width: 1125px) {
  .vertcard-card {
    height: 250px;
    width: 180px;
  }
}
@media screen and (min-width: 1300px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
}
@media screen and (min-width: 1400px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
}
@media screen and (min-width: 1570px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
}
@media screen and (min-width: 1600px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
}
@media screen and (min-width: 1710px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
}
@media screen and (min-width: 1800px) {
  .vertcard-card {
    height: 340px;
    width: 230px;
  }
  .vertical-grid .vertcard-card {
    height: 380px;
    width: 260px;
  }
}
